

<div class="container  mb-5 p-3 p-md-5 p-lg-4 p-xl-5 ">
    <div class="row">
        <div class="col-lg-5 fondo_formulario_clientes shadow tamaño_container_nuevo_clientes d-none d-lg-block">

        </div>
        <div class="col-12 col-lg-7 d-flex align-items-center justify-content-center  shadow px-4 px-md-5 px-lg-3 px-xl-5 tamaño_container_nuevo_clientes">
            <div class="row g-2">
                <div class="col-12 text-center">
                    <span class="fs-1">
                        Nuevo Cliente
                    </span>
                </div>
                

                <div class="col-6">
                    <label class="form-label ">Nombre:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :nombre, class: "form-control form-control-sm text-center"%>
                    <%= form.hidden_field :id%>
                </div>
                
                <div class="col-6">
                    <label class="form-label ">Paterno:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :paterno, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-6">
                    <label class="form-label">Materno:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :materno, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-6">
                    <label class="form-label">Fecha Nacimiento:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.date_field :fecha_nacimiento, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-7 col-md-8 col-lg-7">
                    <label class="form-label">Correo:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :correo, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-5 col-md-4 col-lg-5">
                    <label class="form-label ">Teléfono:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :telefono, class: "form-control form-control-sm text-center"%>
                </div>
                
                <div class="col-7">
                    <label class="form-label ">CURP:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :curp, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-5">
                    <label class="form-label">RFC:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :rfc, class: "form-control form-control-sm text-center"%>
                </div>
              
                <div class="col-12 padre_radio mb-3">
                    <label class="col-form-label">Estado Laboral:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <div class="row">
                        <div class="col-6 text-center form-chek">
                            <%= form.radio_button :estado_laboral, 'T', :check => true, class: "form-check-input "%><label class= "form-check-label ms-2">Trabajador</label>
                        </div>
                        <div class="col-6 form-chek">
                            <%= form.radio_button :estado_laboral, 'P', class: "form-check-input"%><label class= "form-check-label ms-2 me-4">Pensionado</label>
                        </div>
                        <div class="col-6 text-center form-chek">
                            <%= form.radio_button :estado_laboral, 'D', class: "form-check-input ms-3"%><label class= "form-check-label ms-2">Desempleado</label>
                        </div>
                        <div class="col-6 form-chek">
                            <%= form.radio_button :estado_laboral, 'E', class: "form-check-input"%><label class= "form-check-label ms-2 me-5">Estudiante</label>
                        </div>
                    </div>
                    
                </div>

                <div class="col-6 mb-3">
                    <label class="form-label">Salario Mensual:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :salario_mensual, class: "form-control form-control-sm text-center"%>
                </div>
    
                <div class="col-6 mb-3">
                    <label class="form-label">Años Laborales:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.number_field :tiempo_laboral, class: "form-control form-control-sm text-center"%>
                </div>


                <div class="col-12 mb-3">
                    <label class="form-label">Estudio:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :estudio, class: "form-control form-control-sm text-center"%>
                </div>
                
                <div class="col-12 padre_radio mb-3">
                    <label class="col-form-label">¿Tiene Riesgo Laboral?:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <div class="row">
                        <div class="col-6 text-center g-0 ms-md-0 g-md-3 form-chek">
     
                            <%= form.radio_button :riesgo_trabajo, 'S', :check => true, class: "form-check-input ms-md-5"%><label class="form-check-label">Si</label>
                        </div>
                        <div class="col-5 text-center g-0 g-md-3 form-chek">
                    
                            <%= form.radio_button :riesgo_trabajo, 'N', class: "form-check-input"%><label class="form-check-label me-md-5">No</label>
                        </div>
                    </div>
                    
                </div>


                <div class="col-12 ">
                    <label class="form-label ">
                    Localidad:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.select 'localidad_id',  @localidades.collect {|p| [p.calle + " " + p.exterior + " " + p.interior + " " + p.colonia + " " + p.codigo_postal + " " + p.ciudad + " " + p.estado.nombre, p.id]}, {include_blank: 'Selecciona uno'}, class: "form-select form-select-sm"%>
                </div>
                <div class="col-6">
                    <label class="form-label">Usuario:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :login, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-6 mb-3 ">
                    <label class="form-label">Contraseña:</label>
                    <div class="etiqueta-error ocultar_error">

                        <%=image_tag('error_icono.png', width: 20, height: 20, alt: 'ERROR')%>

                        <span class="etiqueta-error-texto"></span>
                        
                    </div>
                    <%= form.text_field :password, class: "form-control form-control-sm text-center"%>
                </div>
                <div class="col-6 d-grid grap-2 mx-auto">
                        <%= form.submit "Guardar", class: "btn btn-primary"%>
                </div>
                <div class="col-6 d-grid grap-2 mx-auto">
                    <%= link_to "Regresar", clientes_inicio_path, class: "btn btn-danger text-light"%>
                </div>
            </div>
        </div>
    </div>
    
    
</div>