

<div class="container-fluid p-4 px-5 fondo_mostrar_empleados ">
    <div class="row shadow-lg bg-light tama침o_container_mostrar_empleados">
        

        <div class="col-12 text-center mt-4">
          <span class="fs-1"> Consulta Quejas</span>
        </div>

        <div class="col-12 d-flex align-items-center justify-content-center  px-5 ">
            <table id="tab" class="stacktable table table-sm table-striped table-hover table-bordered align-middle caption-top table-responsive ">
                <caption>Informaci칩n de Quejas</caption>
                <thead class="table-dark text-center ">
                    <tr>
                        <th scope="col">Datos</th>
                        <th scope="col">Valores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Motivo</th>
                        <td><%= @queja.motivo %></td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de Suceso</th>
                        <td><%= @queja.fecha_suceso %></td>
                    </tr>
                    <tr>
                        <th scope="row">Tipo de Queja</th>
                        <td><%= @tipo %></td>
                    </tr>
                    <tr>
                        <th scope="row">Confirmaci칩n</th>
                        <td><%= @confirmacion %></td>
                    </tr>
                    <tr>
                        <th scope="row">Respuesta</th>
                        <td><%= @respuesta %></td>
                    </tr>
                    <tr>
                        <th scope="row">Causante</th>
                        <td><%= @causante %></td>
                    </tr>
      
                    <tr>
                        <th scope="row">Modo de Pago</th>
                        <td><%= @evidencia %></td>
                    </tr>
      
                    <tr>
                        <th scope="row">Cliente</th>
                        <td><%= @cliente %></td>
                    </tr>

                    <tr>
                        <th scope="row">Descripci칩n</th>
                        <td><%= @queja.descripcion %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 d-grid grap-2 py-5">
            <%= link_to "Editar", edit_queja_path(@queja), class: "btn btn-primary btn-sm text-light mx-5 my-5 fs-4"%>
           
        </div>
        <div class="col-6 d-grid grap-2 py-5 ">
      
            <%= link_to "Regresar", quejas_path, class: "btn btn-danger btn-sm text-light mx-5 my-5 fs-4"%>
        </div>
     
    </div>
</div>
