

<div class="container-fluid p-4 px-5 fondo_mostrar_empleados ">
    <div class="row shadow-lg bg-light tamaño_container_mostrar_empleados">
        

        <div class="col-12 text-center mt-4">
        	<span class="fs-1"> Consulta Cuentas de Ahorro</span>
        </div>

        <div class="col-12 d-flex align-items-center justify-content-center  px-5 ">
            <table id="tab" class="stacktable table table-sm table-striped table-hover table-bordered align-middle caption-top table-responsive ">
                <caption>Información de Cuentas de Ahorro</caption>
                <thead class="table-dark text-center ">
                    <tr>
                        <th scope="col">Datos</th>
                        <th scope="col">Valores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">CLABE</th>
                        <td><%= @ahorro.clabe %></td>
                    </tr>
                    <tr>
                        <th scope="row">Número de Tarjeta</th>
                        <td><%= @ahorro.numero_tarjeta %></td>
                    </tr>
                    <tr>
                        <th scope="row">Monto</th>
                        <td><%= @ahorro.monto %></td>
                    </tr>
                    <tr>
                        <th scope="row">Monto Máximo</th>
                        <td><%= @ahorro.monto_maximo %></td>
                    </tr>
                    <tr>
                        <th scope="row">Estado</th>
                        <td><%= @estado %></td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de Creación</th>
                        <td><%= @ahorro.fecha_creacion %></td>
                    </tr>
                    <tr>
                        <th scope="row">Intereses (%)</th>
                        <td><%= @ahorro.interes %></td>
                    </tr>
                    <tr>
                        <th scope="row">Impuesto Anual</th>
                        <td><%= @ahorro.impuesto_anual %></td>
                    </tr>
                    <tr>
                        <th scope="row">Descuento por Transacción (%)</th>
                        <td><%=@ahorro.descuento_transaccion%></td>
                    </tr>
                    <tr>
                        <th scope="row">Meses para Cambio</th>
                        <td><%= @ahorro.meses_cambio %></td>
                    </tr>
                    <tr>
                        <th scope="row">Monto Máximo en Compras</th>
                        <td><%= @ahorro.limite_monto_transaccion %></td>
                    </tr>
                    <tr>
                        <th scope="row">Cliente</th>
                        <td><%= @cliente %></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-6 d-grid grap-2 py-5">
            <%= link_to "Editar", editar_ahorro_path(@ahorro.id), class: "btn btn-primary btn-sm text-light mx-5 my-5 fs-4"%>
           
        </div>
        <div class="col-6 d-grid grap-2 py-5 ">
      
            <%= link_to "Regresar", ahorros_inicio_path, class: "btn btn-danger btn-sm text-light mx-5 my-5 fs-4"%>
        </div>
     
    </div>
</div>
